.link {
    color: $dark-grey;
    text-decoration: none;

    &:hover {
        color: #5c62c5;
        text-decoration: none;
    }
}
.div-link {
    text-align: center;
}

.link-button-register {
    text-align: center;
    margin-top: 16px;
}